
{% extends "layout.html" %}
{% block content %}
<h1>Welcome {{ session.username }}</h1>
<h3>Man, aren't you lucky to be behind the scenes.</h3>
<br />
<form id="settings_form" class="form form-settings" method="POST" action="" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{form.alarm_status.label}}
        {{form.alarm_status()}}
    </div>
    <div class="form-group">
        {{form.alarm_hours.label}}
        {{form.alarm_hours()}}
        <span>:</span>
        {{form.alarm_minutes.label}}
        {{form.alarm_minutes()}}
    </div>
    <p><input class="btn btn-default btn-submit" type="submit" value="Save"></p>
</form> 
{% endblock %}
